#container {
    width: 980px;
    margin: auto;
}

li {
    display: inline;
}

#left {
    float: left;
    width: 33%;
    height: 100%;
    background-color: royalblue;

}

#main {
    float: left;
    width: 67%;
    background-color: cornflowerblue;
}

#footer {
    clear: both;
    background-color: slategray;
}

ul {
    padding-left: 0;
}